<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Nova Tarefa</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Nova Tarefa</h1>

    <form method="POST">

        <label>Titulo</label>

        <input
                type="text"
                name="title"
                required
        >

        <label>Descricao</label>

        <textarea
                name="description"
                rows="5"
                required
        ></textarea>

        <label>Prioridade</label>

        <select name="priority">

            <option>Baixa</option>

            <option>Media</option>

            <option>Alta</option>

        </select>

        <button type="submit">

            Salvar

        </button>

    </form>

    <a href="/" class="back">

        Voltar

    </a>

</div>

</body>

</html>